
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #70c5ce;
}


#board {
  border: 2px solid #333;
  border-radius: 8px;
  background-image: url("flappybirdbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}